/* global.css */

/* Main */
main {
	padding: 20px;
	max-width: 800px;
	margin: 20px auto;
	background-color: rgba(251, 242, 210, 0.6);
	border-radius: 10px;
}

/* Body */
body {
	line-height: 1.6;
	margin: 0;
	padding: 0;
	background-image: url("/images/background_main.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

/* Header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	padding: 1rem;
	background-color: rgba(218, 160, 78, 0.8);
}

.logo {
	margin-bottom: 10px;
	max-height: 150px;
	width: auto;
}

/* Footer */
footer
{
	display: flex;
	bottom: 0;
	background-color: rgba(218, 160, 78, 0.8);;
	text-align: center;
	padding: 0px 10px;
	width: 100%;
	position: fixed;
}

/* Buttons */
button {
		background-color: rgb(49, 80, 18);
		color: rgba(218, 160, 78, 0.8);
		padding: 10px 20px;
		border-radius: 5px;
		cursor: pointer;
		font-size: 16px;
		width: 140px;
		margin: 4px;
}

button:hover {
	background-color: rgb(58, 91, 25);
}

button:not(:disabled):active { /* on klick behaviour */
	font-size: 15px;
}

/* Misc */
a {
	text-decoration: none;
	color: black;
}

/* File Uplad */
.file-upload {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.drop-zone {
	border: 2px dashed rgb(49, 80, 18);
	border-radius: 4px;
	padding: 20px;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.drop-zone:hover, .drop-zone:focus {
    background-color: #62431850;
    outline: none;
}

input[type="file"] {
	display: none;
}

.file-list {
	list-style-type: none;
	padding: 0;
	margin-top: 20px;
}

.file-list li {
	margin-bottom: 5px;
}
  
.status-message {
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(251, 242, 210, 0.6);
    border-left: 6px solid rgb(49, 80, 18);
}

.image-preview {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 20px;
}

.preview-item {
	width: calc(33.333% - 10px);
	text-align: center;
	position: relative;
}

.preview-item img {
	max-width: 100%;
	height: auto;
	border-radius: 4px;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.delete-button:hover {
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
}

.duplicate-prompt {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.duplicate-prompt button {
    margin-right: 10px;
    margin-top: 10px;
}

  /* */